blinker==1.9.0
cachetools==5.5.1
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
Flask==2.3.2
google-api-core==1.34.1
google-auth==2.38.0
google-cloud-core==0.29.1
google-cloud-storage==1.13.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
gunicorn==22.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
packaging==24.2
protobuf==3.20.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
requests==2.32.3
rsa==4.9
six==1.17.0
urllib3==2.3.0
Werkzeug==3.1.3