apache-beam==2.37.0
avro-python3==1.9.2.1
cachetools==4.2.4
certifi==2024.12.14
charset-normalizer==3.4.1
crcmod==1.7
dill==0.3.1.1
docopt==0.6.2
fastavro==1.10.0
fasteners==0.19
future==0.18.3
google-api-core==1.34.1
google-apitools==0.5.31
google-auth==1.35.0
google-cloud-bigquery==2.31.0
google-cloud-bigquery-storage==2.10.1
google-cloud-bigtable==1.7.3
google-cloud-core==1.7.3
google-cloud-datastore==1.15.5
google-cloud-dlp==1.0.2
google-cloud-language==1.3.2
google-cloud-pubsub==1.7.2
google-cloud-recommendations-ai==0.2.0
google-cloud-spanner==1.19.3
google-cloud-storage==1.44.0
google-cloud-videointelligence==1.16.3
google-cloud-vision==1.0.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
grpc-google-iam-v1==0.12.7
grpcio==1.70.0
grpcio-gcp==0.2.2
grpcio-status==1.48.2
hdfs==2.7.3
httplib2==0.19.1
idna==3.10
libcst==1.6.0
numpy==1.20.3
oauth2client==4.1.3
orjson==3.10.15
packaging==24.2
proto-plus==1.25.0
protobuf==3.20.3
pyarrow==5.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydot==1.4.2
pymongo==4.6.3
pyparsing==2.4.7
python-dateutil==2.9.0.post0
pytz==2019.1
PyYAML==6.0.2
requests==2.32.3
rsa==4.9
six==1.17.0
timezonefinder==1.5.4
typing-extensions==3.10.0.2
urllib3==2.3.0
